<h1>Lista Cruds Disponibles</h1>
<br>
<%= link_to 'Lista Admins', lista_admins_path %>
<br><br>
<%= link_to 'Lista Swipers', lista_swipers_path %>
<br><br>
<%= link_to "Lista Restaurantes", lista_restaurantes_path %>
<br><br>
<%= link_to 'Lista Comunas', lista_comunas_path %>
<br><br>
<%= link_to "Lista Comentarios", lista_comentarios_path %>
<br><br>
<%= link_to "Lista Gustos", gustos_path %>
<br><br>
<br><br>
<br><br>