<% if current_admin %>
  <div class="row text-center tall-tittle">
    <h4><%= notice %></h4>
  </div>
  <div class="row text-center tall-tittle">
    <h1>Home</h1>
  </div>
  <div class="row text-center">
    <div class="col-md-3 tall-content align-middle" ></div>
    <div class="col-md-6 tall-content align-middle">
      <div class="row"><%= link_to 'Administrar Admins', lista_admins_path, :class => "btn btn-primary btn-menu" %></div>
      <div class="row"><%= link_to 'Administrar Swipers', lista_swipers_path, :class => "btn btn-primary btn-menu" %></div>
      <div class="row"><%= link_to 'Administrar Owners', lista_owners_path, :class => "btn btn-primary btn-menu" %></div>
      <div class="row"><%= link_to 'Administrar Comunas', lista_comunas_path, :class => "btn btn-primary btn-menu" %></div>
      <div class="row"><%= link_to 'Administrar Gustos', gustos_path, :class => "btn btn-primary btn-menu" %></div>
      <div class="row"><%= link_to 'Administrar Comentarios', lista_comentarios_path, :class => "btn btn-primary btn-menu" %></div>
      <div class="row"><%= link_to 'Administrar Restaurantes', lista_restaurantes_path, :class => "btn btn-primary btn-menu" %></div>
      <div class="row"><%= link_to 'Restaurantes pendientes', pendientes_path, :class => "btn btn-primary btn-menu" %></div>
      <div class="row"><%= link_to 'Ver Reportes Swiper', reportes_path, :class => "btn btn-primary btn-menu" %></div>
      <div class="row"><%= link_to 'Ver Reportes Owner', owner_reportes_path, :class => "btn btn-primary btn-menu" %></div>
      <div class="row"><%= link_to 'Editar Admin logueado', edit_admin_registration_path, :class => "btn btn-primary btn-menu" %></div>
      <div class="row"><%= link_to 'Borrar Admin logueado', registration_path(resource_name), data: { confirm: "¿Estás seguro que quieres borrar tu cuenta?" }, method: :delete, :class => "btn btn-primary btn-menu" %></div>
      <div class="row"><%= link_to "Cerrar sesión", destroy_admin_session_path, method: :delete, data: {confirm: '¿Estás seguro que quieres cerrar sesión?'}, :class => "btn btn-primary btn-menu" %></div>

    </div>
    <div class="col-md-3 tall-content align-middle" ></div>
  </div>
<% else %>
    <% controller.redirect_to new_admin_session_path %>
<% end %>