<% if current_admin or current_owner %>
    <p id="notice">
        <% if notice %>
            <h2>ERROR:</h2>
            <%= notice %><br>
            <% if notice["nombre"] %>
                <%= notice["nombre"][0] %><br>
            <% end %>
            <% if notice["descripcion"] %>
                <%= notice["descripcion"][0] %><br>
            <% end %>
        <% end %>
    </p>

    <h1>Editar Restaurante</h1>

    <%= form_with(model: @restaurante, local: true, method: :patch) do |form| %>
        <div class="field">
            <%= form.label :nombre %>
            <%= form.text_field :nombre %>
        </div>
        <div class="field">
            <%= form.label :descripción %>
            <%= form.text_field :descripcion %>
        </div>
        <div class="field">
            <%= form.label :comuna %>
            <%= form.select :comuna_id, options_from_collection_for_select(Comuna.all, :id, :nombre, @restaurante.comuna.id) %><br />
        </div>
        <% if current_admin %>
            <div class="field">
                <%= form.label :estado %>
                <%= form.select :aceptado, options_for_select(["Pendiente", "Aceptado", "Rechazado"], @restaurante.aceptado) %>
            </div>
        <% end %>
        <div class="field">
            <%= form.label :imágenes %>
            <%= form.file_field :imagenes, multiple: true %>
        </div>
        <div class="actions">
            <%= form.submit %>
        </div>
    <% end %>

    <br>

    <table>
        <thead>
            <tr>
                <% (0...@restaurante.imagenes.count).each do |numero| %>
                    <th>Imagen <%= numero + 1 %> </th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <tr>
                <% @restaurante.imagenes.each do |imagen| %>
                <td>
                    <div style="width:200px; height:300px;">
                        <%= image_tag(imagen, style:'width:150px; heigth: 100px') %>
                    </div>
                </td>
                <% end %>
            </tr>
            <tr>
                <% @restaurante.imagenes.each do |imagen| %>
                <td>
                    <%= link_to "Remover imagen", delete_imagen_restaurante_path(imagen.id, @restaurante.id), method: :delete, data: {confirm: "Are you sure?"} %>
                </td>
                <% end %>
            </tr>
        </tbody>
    </table>

    <br>
    <% if current_admin %>
    <%= link_to 'Lista Restaurantes', lista_restaurantes_path %>
    <% end %>

<% else %>
    <% controller.redirect_to new_admin_session_path, notice: 'No tienes permiso para ingresar a la página que intentaste acceder.' %>
<% end %>