<% if current_admin %>
  <p id="notice"><%= notice %></p>

  <h1>Restaurantes</h1>

  <table>
    <thead>
      <tr>
        <th>Nombre</th>
      </tr>
    </thead>

    <tbody>
      <% @restaurantes.each do |restaurante| %>
        <tr>
          <td><%= restaurante.nombre %></td>
          <td><%= link_to 'Ver detalles', restaurante_path(restaurante.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <% if not current_admin %>
    <%= link_to 'Crear Restaurante', restaurantes_new_path %><br><br>
  <% end %>
  <%= link_to 'Volver a la lista de acciones disponibles.', admin_root_path %><br>
<% else %>
  <% controller.redirect_to new_admin_session_path, notice: 'No tienes permiso para ingresar a la página que intentaste acceder.' %>
<% end %>