
  <p id="notice"><%= notice %></p>

  <h1>Restaurantes</h1>

  <h3 style="margin: 0px; margin-bottom: -17px;"> Ordenar por: </h3>
  <table>
      <tbody>
          <tr>
              <td>
                  <%= form_tag(controller: 'restaurantes', action: "filtro", method: "post") do %>
                      <div class="field">
                          <%= hidden_field_tag(:filtro, "o_nombre") %><br>
                      </div>
                      <div class="actions">
                          <%= submit_tag("Nombre") %><br><br>
                      </div>
                  <% end %>
              </td>
          </tr>
      </tbody>
  </table>
  <table>
    <thead>
    <tr>
      <th>Filtrar por nombre</th>
      <th></th>
      <th>Filtrar por comuna</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <%= form_tag(controller: 'restaurantes', action: "filtro", method: "post") do %>
          <div class="field">
            <%= text_field_tag(:input) %>
          </div>
          <div class="field">
            <%= hidden_field_tag(:filtro, "nombre") %><br>
          </div>
      </td>
      <td style="width: 10vw">
        <div class="actions">
          <%= submit_tag("Filtrar") %><br><br>
        </div>
      </td>
        <% end %>
      <td>
        <%= form_tag(controller: 'restaurantes', action: "filtro", method: "post") do %>
          <div class="field">
            <%= select_tag(:input, options_from_collection_for_select(Comuna.all, :id, :nombre))%>
          </div>
          <div class="field">
            <%= hidden_field_tag(:filtro, "comuna") %><br>
          </div>

      </td>
      <td>
        <div class="actions">
          <%= submit_tag("Filtrar") %><br><br>
        </div>
      </td>
      <% end %>
    </tr>
    </tbody>
  </table>

  <table class="table">
    <thead>
    <th>Nombre</th>
    <th>Comuna</th>
    </thead>
    <tbody>
    <% @restaurantes.each do |restaurante| %>
      <tr>
        <td><%= restaurante.nombre %></td>
        <td><%= restaurante.comuna.nombre %></td>
        <% if @swiper_cita_id && @swiper_citado_id %>
          <td><%= link_to 'Ver detalles CITA', restaurante_cita_path(@swiper_cita_id, @swiper_citado_id, restaurante.id) %></td>
        <% else %>
          <td><%= link_to 'Ver detalles', restaurante_path(restaurante.id) %></td>
        <% end %>
        <% i = 0 %>
        <% restaurante.imagenes.each do |imagen| %>
          <% if (i == 0) %>
            <td><%= image_tag(imagen, style:'width:200px; heigth: 100px') %></td>
          <% end %>
          <% i += 1 %>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>



  <br>
<% if current_admin %>
  <%= link_to 'Volver a la lista de acciones disponibles.', admin_root_path %>
<% end %>
