<% if current_owner %>
    <p id="notice">
        <% if (notice != 'Guardado') and (notice)%>
            <h2>ERROR:</h2>
            <% if notice["nombre"] %>
                <%= notice["nombre"][0] %><br>
            <% end %>
            <% if notice["descripcion"] %>
                <%= notice["descripcion"][0] %><br>
            <% end %>
            <% if notice["telefono"] %>
                <%= notice["telefono"][0] %><br>
            <% end %>
            <% if notice["direccion"] %>
                <%= notice["direccion"][0] %><br>
            <% end %>
        <% elsif notice == 'Guardado'%>
            <%= 'Restaurante guardado exitosamente.' %><br>
        <% end %>
    </p>

    <h1>Nuevo Restaurante</h1>

    <%= form_with(model: @restaurante, local: true, method: :post) do |form| %>
        <div class="field">
            <%= form.label :nombre %>
            <%= form.text_field :nombre %>
        </div>
        <div class="field">
            <%= form.label :teléfono %>
            <%= form.text_field :telefono %>
        </div>
        <div class="field">
            <%= form.label :dirección %>
            <%= form.text_field :direccion %>
        </div>
        <div class="field">
            <%= form.label :descripción %>
            <%= form.text_field :descripcion %>
        </div>
        <div class="field">
            <%= form.label :comuna %><br />
            <%= form.select :comuna_id, options_from_collection_for_select(Comuna.all, :id, :nombre) %><br />
        </div><br>
        <div class="field">
            <%= form.label :imágenes %>
            <%= form.file_field :imagenes, multiple: true %>
        </div>
        <div class="actions">
            <%= form.submit %>
        </div>
    <% end %>

    <br>

    <%= link_to 'Lista Restaurantes', lista_restaurantes_path %>
<% else %>
    <% controller.redirect_to new_owner_session_path %>
<% end %>