<div class="row text-center tall-tittle">
    <h4><%= notice %></h4>
</div>
    

<div class="row text-center">
  <h1><%= @restaurante.nombre %></h1>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8" style="overflow-x: auto; margin-bottom: 20px;">
    <table align="center" >
      <tbody>
      <tr>
        <% @restaurante.imagenes.each do |imagen| %>
          <td>
            <div >
              <%= image_tag(imagen, style:'height: 200px') %>
            </div>
          </td>
        <% end %>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-2"></div>

</div>

<div class = "row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row text-center description">
      <%= @restaurante.descripcion %>
    </div>

    <div class="row" style="margin-top: 20px">
      <p>
        <strong>Dirección:</strong>
        <%= @restaurante.direccion %>
      </p>
      <p>
        <strong>Comuna:</strong>
        <%= @restaurante.comuna.nombre %>
      </p>
      <p>
        <strong>Teléfono:</strong>
        <%= @restaurante.telefono %>
      </p>
      <p>
        <strong>Dueño:</strong>
        <%= @restaurante.owner.nombre %>
      </p>

      <% if @restaurante.comentarios.length > 0 %>
        <p>
        <div class="row">
          <div class="col-md-3">
            <strong>Valoración promedio:</strong>
          </div>
          <div class="col-md-2">
            <div class="row" style="margin-left: -50px;">
              <% (0...(@restaurante.comentarios.sum(:valoracion).to_f / @restaurante.comentarios.length).round).each do |i| %>
                <div class="col-md-1 text-left" style="margin-left: -10px; margin-right: right -10px;">
                  <%= image_tag("logo.png", :alt => "Logo", style: "height: 20px; width: 40px;") %>
                </div>
              <% end %>
              <% (0...(5 - (@restaurante.comentarios.sum(:valoracion).to_f / @restaurante.comentarios.length).round)).each do |i| %>
                <div class="col-md-1 text-left" style="margin-left: -10px; margin-right: right: -10px;">
                  <%= image_tag("grey.png", :alt => "Logo", style: "height: 20px; width: 40px;") %>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        </p>
      <% end %>

      <% if current_owner %>
        <% if current_owner.id == @restaurante.owner.id %>
          <p>
            <strong>Estado:</strong>
            <%= @restaurante.aceptado %>
          </p>
        <% end %>
      <% end %>

      <% if current_admin %>
        <p>
          <strong>Estado:</strong>
          <%= @restaurante.aceptado %>
        </p>
      <% end %>

      <br>

      <% if @bool %>
        <div style="margin-bottom: 20px">
          <h4> Agendar cita</h4>
          <%= form_with(local: true, method: :post, url: generar_cita_path) do |form| %>
            <div class="field">
              <%= form.hidden_field :swiper_cita_id, :value => @swiper_cita_id %>
            </div>
            <div class="field">
              <%= form.hidden_field :swiper_citado_id, :value => @swiper_citado_id %>
            </div>
            <div class="field">
              <%= form.hidden_field :restaurante_id, :value => @restaurante.id %>
            </div>
            <div class="field">
              <%= form.label :fecha %><br />
              <%= form.datetime_field :fecha, autofocus: true %>
            </div>
            <div class="actions">
              <%= form.submit "Agendar" %>
            </div>
          <% end %>
        </div>

      <% end %>
    </div>
    <% if current_admin %>
      <%= link_to 'Lista Restaurantes', lista_restaurantes_path %>
      <%= link_to 'Editar Restaurante', edit_restaurante_path(@restaurante.id) %>
      <%= link_to 'Eliminar Restaurante', restaurante_path(@restaurante.id), method: :delete, data: {confirm: '¿Estás seguro?'} %>
    <% end %>
    <% if @swiper_cita_id && @swiper_citado_id && !@bool%>
      <%= link_to 'Lista Restaurantes', restaurantes_cita_path(@swiper_cita_id, @swiper_citado_id) %>
      <%= link_to 'Agendar cita en el local', fecha_cita_path(@swiper_cita_id, @swiper_citado_id, @restaurante.id, 1) %>
    <% elsif current_swiper %>
      <%= link_to 'Lista Restaurantes', lista_restaurantes_path %>
    <% end %>
    <% if current_owner %>
      <% if current_owner.restaurante.id == @restaurante.id %>
        <%= link_to 'Editar Restaurante', edit_restaurante_path(@restaurante.id) %>
        <%= link_to 'Eliminar Restaurante', restaurante_path(@restaurante.id), method: :delete, data: {confirm: '¿Estás seguro?'} %>
      <% end %>
    <% end %>

    <% if @restaurante.comentarios.length > 0 %>
      <h2>Comentarios</h2>
      <hr style="border: 1px solid;color: #566787;">
      <div style="height:350px;overflow:auto;">
        <% @restaurante.comentarios.each do |comentario| %>
          <div class ="row align-left" style="margin-left: 20px;">
            <div class="row ">
              <div class="col-md-2">
                <% swiper = Swiper.find(comentario.swiper_id) %>
                <%= swiper.nombre %>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <% (1..comentario.valoracion.to_i).each do |logo| %>
                    <div class="col-md-1 text-left" style="margin-left: -10px; margin-right: right -10px;">
                      <%= image_tag("logo.png", :alt => "Logo", style: "height: 20px; width: 40px;") %>
                    </div>
                  <% end %>
                  <% (0...5 - comentario.valoracion.to_i).each do |logo| %>
                    <div class="col-md-1 text-left" style="margin-left: -10px; margin-right: right: -10px;">
                      <%= image_tag("grey.png", :alt => "Logo", style: "height: 20px; width: 40px;") %>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="col-md-4" style="padding: 10px">
                <% if current_admin %>
                  <%= link_to 'Ver detalles', comentario_path(comentario.id) %>
                <% elsif current_owner %>
                  <%= link_to 'Reportar comentario', owner_reportando_path(comentario.id) %>
                <% end %>
              </div>
            </div><br>
            <div class="row" style="margin-left: 0px;margin-top: 1px;">
              <div class="col-md-4">
                <%= comentario.contenido %>
              </div>

            </div>
          </div><hr style="border: 1px solid;color: #566787;"><br>
        <% end %>
      </div>
      <br>
    <% end %>
  </div>
  <div class="col-md-2"></div>

</div>


