<% if current_owner.restaurante == @restaurante %>
<div class="row" style="margin-top:50px;">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <table class="table">
              <tbody>
                <tr>
                  <th>Citas efectuadas:</th><th><%= @citas_efectuadas %></th>
                </tr>
                <tr>
                  <th>Citas agendadas:</th><th><%= @citas_agendadas%></th>
                </tr>
                <tr>
                  <th>Valoración:</th><th><%= @valoracion%></th>
                </tr>
                <tr>
                  <th>Número de comentarios:</th><th><%= @n_comentarios %></th>
                </tr>
              </tbody>
    </table><br><br>
    <div class="row text-center"><%= link_to "Home", owner_root_path, :class => "btn btn-primary btn-menu" %></div>
  </div>
  <div class="col-md-4"></div>
</div>
<% else %>
  <% controller.redirect_to new_owner_session_path %>
<% end %>