<p id="notice"><%= notice %></p>
<h1>Lista de Comentarios</h1>
<table>
    <thead>
        <tr>
            <th>Contenido</th>
            <th>Fecha</th>
        </tr>
    </thead>

    <tbody>
        <% @comentarios.each do |comentario| %>
            <tr>
                <td><%= comentario.contenido %></td>
                <td><%= comentario.fecha %></td>
                <td><%= link_to 'Ver detalles', comentario_path(comentario.id) %></td>
            </tr>
        <%end%>
    </tbody>
</table>

<%= link_to 'Crear comentario', comentarios_new_path %>