<% if current_swiper%>
    <p id="notice">
        <% if (notice != 'Guardado') and (notice)%>
            <% if notice["contenido"] %>
                <%= notice["contenido"][0] %><br>
            <% end %>
            <% if notice["fecha"] %>
                <%= notice["fecha"][0] %><br>
            <% end %>
            <% if notice["valoracion"] %>
                <%= notice["valoracion"][0] %><br>
            <% end %>
        <% elsif notice == 'Guardado'%>
            <%= 'Comentario publicado exitosamente.' %><br>
        <% end %>
    </p>


    <h1>Nuevo Comentario</h1>
    <%= form_with(model: @comentario, local: true, method: :post) do |form| %>
        <div class="field">
            <%= form.label :contenido %>
            <%= form.text_field :contenido %>
        </div>

        <div class='field'>
            <%= form.label :valoracion %>
            <%= form.text_field :valoracion %>
        </div>

        <div class='field'>
            <%= form.hidden_field :fecha, :value => DateTime.now %>
        </div>
        
        <div class='field'>
            <%= form.hidden_field :restaurante_id, :value => @restaurante_id %>
        </div>

        <div class='field'>
            <%= form.hidden_field :swiper_id, :value => @swiper_id %>
        </div>

        <div class="actions">
            <%= form.submit%>
        </div>

        <% end %>
    <br>
    <% link_to "Lista comentarios", lista_comentarios_path %>
<% else %>
  <% controller.redirect_to new_swiper_session_path, notice: 'No tienes permiso para ingresar a la página que intentaste acceder.' %>
<% end %>