<% if current_swiper %>
    <p id="notice">
        <% if (notice != 'Guardado') and (notice)%>
            <% if notice["contenido"] %>
                <%= notice["contenido"][0] %><br>
            <% end %>
            <% if notice["fecha"] %>
                <%= notice["fecha"][0] %><br>
            <% end %>
            <% if notice["valoracion"] %>
                <%= notice["valoracion"][0] %><br>
            <% end %>
        <% elsif notice == 'Guardado'%>
            <%= 'Comentario publicado exitosamente.' %><br>
        <% end %>
    </p>

    <h1>Nuevo Comentario</h1>
    <%= form_with(model: @comentario, local: true, method: :post) do |form| %>
        <div class="field">
            <%= form.label :contenido %>
            <%= form.text_field :contenido %>
        </div><br><br>

        <div class='field'>
            <%= form.label :valoracion %><br>
            <%= form.hidden_field :valoracion, {:id => 'stars'} %>
            <div class="rating">
                <span><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
                <span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
                <span><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
                <span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
                <span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
            </div>
        </div><br><br>
        
        <div class='field'>
            <%= form.hidden_field :fecha, :value => DateTime.now %>
        </div>
        
        <div class='field'>
            <%= form.hidden_field :restaurante_id, :value => @restaurante_id %>
        </div>

        <div class='field'>
            <%= form.hidden_field :swiper_id, :value => @swiper_id %>
        </div>

        <div class="actions">
            <%= form.submit%>
        </div>

        <% end %>
    <br>
    <% link_to "Lista comentarios", lista_comentarios_path %>
<% else %>
    <% controller.redirect_to new_swiper_session_path %>
<% end %>

<script>
    $(document).ready(function(){
    // Check Radio-box
    $(".rating input:radio").attr("checked", false);

    $('.rating input').click(function () {
        $(".rating span").removeClass('checked');
        $(this).parent().addClass('checked');
    });

    $('input:radio').change(
      function(){
        var userRating = parseFloat(this.value);
        document.getElementById("stars").value = userRating;
    }); 
});
</script>