<p id="notice"><%= notice %></p>

<h1>Nuevo Comentario</h1>
<%= form_with(model: @comentario, method: :post) do |form| %>
    <div class="field">
        <%= form.label :contenido %>
        <%= form.text_field :contenido %>
    </div>

    <div class='field'>
        <%= form.label :fecha %>
        <%= form.datetime_field :fecha %>
    </div>

    <div class="actions">
        <%= form.submit%>
    </div>

    <% end %>

<%= link_to "Lista comentarios", lista_comentarios_path %>