<% if current_admin %>
    <p id="notice"><%= notice %></p>
    <h1>Lista de Admins</h1>

    <h3 style="margin: 0px; margin-bottom: -17px;"> Ordenar por: </h3>
    <table>
        <tbody>
            <tr>
                <td>
                    <%= form_tag(controller: 'admins/registrations', action: "filtro", method: "post") do %>
                        <div class="field">
                            <%= hidden_field_tag(:filtro, "o_nombre") %><br>
                        </div>
                        <div class="actions">
                            <%= submit_tag("Nombre") %><br><br>
                        </div>
                    <% end %>
                </td>
                <td>
                    <%= form_tag(controller: 'admins/registrations', action: "filtro", method: "post") do %>
                        <div class="field">
                            <%= hidden_field_tag(:filtro, "o_correo") %><br>
                        </div>
                        <div class="actions">
                            <%= submit_tag("Correo") %><br><br>
                        </div>
                    <% end %>
                </td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
            </tr>
        </thead>
        <tbody>
            <% @filtrados.each do |admin| %>
                <tr>
                    <td><%= admin.nombre %></td>
                    <td><%= admin.email %></td>
                    <td><%= link_to 'Ver detalles', admin_path(admin.id) %></td>
                </tr>
            <%end%>
        </tbody>
    </table>
    <br>

    <table>
        <thead>
            <tr>
                <th>Filtrar por nombre</th>
                <th>Filtrar por correo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <%= form_tag(controller: 'admins/registrations', action: "filtro", method: "post") do %>
                        <div class="field">
                            <%= text_field_tag(:input) %>
                        </div>
                        <div class="field">
                            <%= hidden_field_tag(:filtro, "nombre") %><br>
                        </div>
                        <div class="actions">
                            <%= submit_tag("Filtrar") %><br><br>
                        </div>
                    <% end %>
                </td>
                <td>
                    <%= form_tag(controller: 'admins/registrations', action: "filtro", method: "post") do %>
                        <div class="field">
                            <%= text_field_tag(:input) %>
                        </div>
                        <div class="field">
                            <%= hidden_field_tag(:filtro, "correo") %><br>
                        </div>
                        <div class="actions">
                            <%= submit_tag("Filtrar") %><br><br>
                        </div>
                    <% end %>
                </td>
            </tr>
        </tbody>
    </table>
    

    <%= link_to 'Crear Admin', new_admin_registration_path %><br><br>
    <%= link_to 'Volver a la lista de acciones disponibles.', admin_root_path %><br>
<% else %>
    <% controller.redirect_to new_admin_session_path %>
<% end %>
