<% if current_admin %>
    <p id="notice"><%= notice %></p>
    <h1>Lista de Admins</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% @filtrados.each do |admin| %>
                <tr>
                    <td><%= admin.nombre %></td>
                    <td><%= admin.email %></td>
                    <td><%= link_to 'Ver detalles', admin_path(admin.id) %></td>
                </tr>
            <%end%>
        </tbody>
    </table>
    <br>
    
    <%= form_tag(controller: 'admins/registrations', action: "filtro", method: "post") do %>
        <h3> Filtrar por nombre </h3>
        <div class="field">
            <h3> Nombre </h3>
            <%= text_field_tag(:input) %>
        </div>
        <div class="field">
            <%= hidden_field_tag(:filtro, "nombre") %><br>
        </div>
        <div class="actions">
            <%= submit_tag("Filtrar") %><br><br>
        </div>
    <% end %>

    <%= link_to 'Crear Admin', new_admin_registration_path %><br><br>
    <%= link_to 'Volver a la lista de acciones disponibles.', admin_root_path %><br>
<% else %>
    <% controller.redirect_to new_admin_session_path, notice: 'No tienes permiso para ingresar a la página que intentaste acceder.' %>
<% end %>
