<% if current_admin %>
    <p id="notice"><%= notice %></p>
    <h1>Lista de Admins</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% @admins.each do |admin| %>
                <tr>
                    <td><%= admin.nombre %></td>
                    <td><%= admin.email %></td>
                    <td><%= link_to 'Ver detalles', admin_path(admin.id) %></td>
                </tr>
            <%end%>
        </tbody>
    </table>
    <br>

    <%= link_to 'Crear Admin', new_admin_registration_path %><br><br>
    <%= link_to 'Editar Admin logueado', edit_admin_registration_path %><br><br>
    <%= link_to 'Borrar Admin logueado', registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %><br><br>
    <%= link_to 'Volver a la lista de acciones disponibles.', admin_root_path %><br>
<% else %>
    <% controller.redirect_to new_admin_session_path, notice: 'No tienes permiso para ingresar a la página que intentaste acceder.' %>
<% end %>
