<% if current_admin %>
  <p id="notice">
      <% if resource.errors.any? %>
          <h2>ERROR:</h2>
          <% resource.errors.full_messages.each do |message| %>
              <% if message == "Email can't be blank" %>
                  <%= "Ingresó un Correo en blanco." %><br>
              <% elsif message == "Password can't be blank" %>
                  <%= "Ingresó una Contraseña en blanco." %><br>
              <% elsif message == "Password confirmation doesn't match Password" %>
                  <%= "Ingresó una Confirmación que no corresponde con Contraseña." %><br>
              <% elsif message == "Password is too short (minimum is 6 characters)" %>
                  <%= "Ingresó una Contraseña demasiado corta (mínimo 6 carácteres)." %><br>
              <% elsif message == "Nombre vacio" %>
                  <%= "Ingresó un Nombre en blanco." %><br>
              <% elsif message == "Nombre existe" %>
                  <%= "Ya existe un Admin con ese Nombre." %><br>
              <% elsif message == "Email has already been taken" %>
                  <%= "Ya existe un Admin con ese Correo." %><br>
              <% end %>
          <% end %>
      <% end %>
  </p>

  <h2>Crear Admin</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :nombre %><br>
      <%= f.text_field :nombre, autofocus: true, autocomplete: "nombre" %>
    </div>

    <div class="field">
      <%= f.label :correo %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :contraseña %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> carácteres mínimo) </em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :confirmación_contraseña %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Crear" %>
    </div>
  <% end %>

  <br>
  <%= render "admins/shared/links" %>
  <br>
  <%= link_to "Volver a lista de Admins", lista_admins_path %>
<% else %>
  <% controller.redirect_to new_admin_session_path %>
<% end %>