<% if current_admin %>
    <div class="row text-center tall-tittle">
        <h4><%= notice %></h4>
    </div>
    
    <div>
    <p>
        <strong>Nombre reportado:</strong>
        <%=  @swiper.nombre %>
    </p>

    <p>
        <strong>Contenido:</strong>
        <%= @reporte.contenido %>
    </p><br><br>

    <%= link_to 'Ver perfil swiper', swiper_path(@swiper.id) %><br><br>
    <%= link_to 'Eliminar reporte', destroy_reporte_path(@reporte.id), method: :delete %><br>
    <%= link_to 'Lista de reportes', reportes_path %>
    </div>

<% else %>
    <% controller.redirect_to new_admin_session_path %>
<% end %>