<% if current_owner %>
  <p id="notice">
    <% if resource.errors.any? %>
        <h2>ERROR:</h2>
        <% resource.errors.full_messages.each do |message| %>
            <% if message == "Email can't be blank" %>
                <%= "Ingresó un Correo en blanco." %><br>
            <% elsif message == "Password can't be blank" %>
                <%= "Ingresó una Contraseña en blanco." %><br>
            <% elsif message == "Current password can't be blank" %>
                <%= "Ingresó una Contraseña actual en blanco." %><br>
            <% elsif message == "Current password is invalid" %>
                <%= "Ingresó una Contraseña actual que no corresponde." %><br>
            <% elsif message == "Password confirmation doesn't match Password" %>
                <%= "Ingresó una Confirmación que no corresponde con Contraseña." %><br>
            <% elsif message == "Password is too short (minimum is 6 characters)" %>
                <%= "Ingresó una Contraseña demasiado corta (mínimo 6 carácteres)." %><br>
            <% elsif message == "Nombre vacio" %>
                <%= "Ingresó un Nombre en blanco." %><br>
            <% elsif message == "Nombre existe" %>
                <%= "Ya existe un Owner con ese Nombre." %><br>
            <% elsif message == "Email has already been taken" %>
                <%= "Ya existe un Owner con ese Correo." %><br>
            <% end %>
        <% end %>
    <% end %>
  </p>

  <h2>Editar Owner</h2>

  <table>
    <thead>
      <tr>
          <th>Editar datos</th>
          <th>Editar contraseña</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <div class="field">
              <%= f.label :nombre %><br />
              <%= f.text_field :nombre, autofocus: true, autocomplete: "nombre" %>
            </div>

            <div class="field">
              <%= f.label :correo %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
          
            <br><br><br><br><br>
          
            <div class="actions">
              <%= f.submit "Enviar datos" %>
            </div>
          <% end %>
        </td>
        <td>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <%= f.label :contraseña %><br />
              <%= f.password_field :contraseña, autocomplete: "new-password" %>
              <% if @minimum_password_length %>
                <br />
                <em>(<%= @minimum_password_length %> carácteres mínimo) </em>
              <% end %>
            </div>

            <div class="field">
              <%= f.label :confirmación_contraseña %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>

            <div class="field">
              <%= f.label :contraseña_actual %><br />
              <%= f.password_field :current_password, autocomplete: "current-password" %>
            </div>

            <br>

            <div class="actions" style="margin-top:13px;">
              <%= f.submit "Enviar nueva contraseña" %>
            </div>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
<% else %>
  <% controller.redirect_to new_owner_session_path %>
<% end %>