<% if current_admin %>
  <p id="notice"><%= notice %></p>
  <h1>Lista de Owners</h1>
  <table>
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <%@owners.each do |owner| %>
      <tr>
        <td><%= owner.nombre %></td>
        <td><%= owner.email %></td>
        <td><%= link_to 'Ver detalles', owner_path(owner.id) %></td>
      </tr>
    <%end%>
    </tbody>
  </table>
  <br>

  <%= link_to 'Volver a la lista de Cruds disponibles', destroy_owner_session_path, method: :delete, data: {confirm: '¿Estás seguro que quieres volver a la lista de cruds?' + "\n" + 'Se cerrará tu sesión.'}  %>
<% else %>
  <% controller.redirect_to new_admin_session_path, notice: 'No tienes permiso para ingresar a la página que intentaste acceder.' %>
<% end%>
