<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @owner.nombre %>
</p>
<p>
  <strong>Correo:</strong>
  <%= @owner.email%>
</p>
<p>
  <strong>fecha de creación:</strong>
  <%= @owner.created_at%>
</p>
<%= link_to "Listado de Owners", lista_owners_path %><br><br>


