<h2>Citas agendadas</h2>
<table class="table">
    <thead>
     <th>Nombre</th>
     <th>Edad</th>
     <th>Restaurante</th>
     <th>Fecha</th>
     <th></th>
     <th></th>
     <th></th>
     <th>Foto</th>
    </thead>
    <tbody>
      <% meets = Meet.where(swiper_citado_id: @swiper.id).or(Meet.where(swiper_cita_id: @swiper.id)) %>
      <% meets.each do |meet| %>
        <% if meet.estado %>
          <tr>
            <% if meet.swiper_cita_id == @swiper.id %>
              <td><%= meet.swiper_citado.nombre %></td>
              <td><%= meet.swiper_citado.edad %> a単os</td>
              <td><%= meet.restaurante.nombre %></td>
              <td><%= meet.fecha %></td>
              <td><%= link_to 'Ir al perfil', swiper_path(meet.swiper_citado.id)%></td>
              <td><%= link_to 'Eliminar cita', eliminar_cita_path(@swiper.id, meet.id) %></td>
              <% i = 0 %>
              <% meet.swiper_citado.imagenes.each do |imagen| %>
                <% if (i == 0) %>
                  <td><%= image_tag(imagen, style:'width:200px; heigth: 100px') %></td>
                <% end %>
              <% i += 1 %>
              <% end %>
            <% else %>
              <td><%= meet.swiper_cita.nombre %></td>
              <td><%= meet.swiper_cita.edad %> a単os</td>
              <td><%= meet.restaurante.nombre %></td>
              <td><%= meet.fecha %></td>
              <td><%= link_to 'Ir al perfil', swiper_path(meet.swiper_cita.id)%></td>
              <td><%= link_to 'Eliminar cita', eliminar_cita_path(@swiper.id, meet.id) %></td>
              <% i = 0 %>
              <% meet.swiper_cita.imagenes.each do |imagen| %>
                <% if (i == 0) %>
                  <td><%= image_tag(imagen, style:'width:200px; heigth: 100px') %></td>
                <% end %>
              <% i += 1 %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  
<h2>Citas esperando respuesta</h2>
<table class="table">
    <thead>
     <th>Nombre</th>
     <th>Edad</th>
     <th>Restaurante</th>
     <th>Fecha</th>
     <th></th>
     <th></th>
     <th></th>
     <th>Foto</th>
    </thead>
    <tbody>
      <% @swiper.meets.each do |meet| %>
          <% if !meet.estado && (@swiper.id == meet.swiper_cita_id)%>
          <tr>
            <td><%= meet.swiper_citado.nombre %></td>
            <td><%= meet.swiper_citado.edad %> a単os</td>
            <td><%= meet.restaurante.nombre %></td>
            <td><%= meet.fecha %></td>
            <td><%= link_to 'Ir al perfil', swiper_path(meet.swiper_citado.id)%></td>
            <td><%= link_to 'Eliminar cita', eliminar_cita_path(@swiper.id, meet.id) %></td>

            <% i = 0 %>
            <% meet.swiper_citado.imagenes.each do |imagen| %>
              <% if (i == 0) %>
                <td><%= image_tag(imagen, style:'width:200px; heigth: 100px') %></td>
              <% end %>
              <% i += 1 %>
            <% end %>
          </tr>
          <% end %>
      <% end %>
    </tbody>
  </table>

  <h2>Solicitudes entrantes de cita</h2>
<table class="table">
    <thead>
     <th>Nombre</th>
     <th>Edad</th>
     <th>Restaurante</th>
     <th>Fecha</th>
     <th></th>
     <th></th>
     <th></th>
     <th>Foto</th>
     <th></th>
    </thead>
    <tbody>
      <% meets = Meet.where(swiper_citado_id: @swiper.id) %>
      <% meets.each do |meet| %>
          <% if !meet.estado && (@swiper.id == meet.swiper_citado_id)%>
          <tr>
            <td><%= meet.swiper_cita.nombre %></td>
            <td><%= meet.swiper_cita.edad %> a単os</td>
            <td><%= meet.restaurante.nombre %></td>
            <td><%= meet.fecha %></td>
            <td><%= link_to 'Ir al perfil', swiper_path(meet.swiper_citado.id)%></td>
            <td><%= link_to 'Eliminar cita', eliminar_cita_path(@swiper.id, meet.id) %></td>
            <td><%= link_to 'Aceptar cita', aceptar_cita_path(meet.id) %></td>
            <% i = 0 %>
            <% meet.swiper_citado.imagenes.each do |imagen| %>
              <% if (i == 0) %>
                <td><%= image_tag(imagen, style:'width:200px; heigth: 100px') %></td>
              <% end %>
              <% i += 1 %>
            <% end %>
          </tr>
          <% end %>
      <% end %>
    </tbody>
  </table>