<table class="table">
  <thead>
   <th>Nombre</th>
   <th>Edad</th>
   <th></th>
   <th></th>
   <th></th>
   <th>Foto</th>
  </thead>
  <tbody>
    <% @swiper.matchs.each do |swiper| %>
      <tr>
        <td><%= swiper.nombre %></td>
        <td><%= swiper.edad %> años</td>
        <td><%= link_to 'Ir al perfil', swiper_path(swiper.id)%></td>
        <td><%= link_to 'Ir al chat', mensajes_path(swiper.id)%></td>
        <td><%= link_to 'Eliminar match', eliminar_match_path(@swiper.id, swiper.id) %></td>
        <td><%= link_to 'Agendar cita', agendar_cita_path(@swiper.id, swiper.id) %></td>
        <% i = 0 %>
        <% swiper.imagenes.each do |imagen| %>
          <% if (i == 0) %>
            <td><%= image_tag(imagen, style:'width:200px; heigth: 100px') %></td>
          <% end %>
          <% i += 1 %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
