<% if current_swiper %>
  <div class="row text-center tall-tittle">
    <h4><%= notice %></h4>
  </div>
  
  <div class="row text-center">
    <div class="col-md-4 tall-content align-middle" ></div>
    <div class="col-md-4 tall-content align-middle">
      <div class="row"><%= link_to "Citas agendadas", lista_citas_path, :class => "btn btn-primary btn-menu" %></div>

      <div class="row"><%= link_to "Solicitudes entrantes", citas_entrantes_path , :class => "btn btn-primary btn-menu"%></div>

      <div class="row"><%= link_to "Solicitudes enviadas", citas_salientes_path, :class => "btn btn-primary btn-menu" %></div>

      <div class="row"><%= link_to "Home", home_root_path, :class => "btn btn-primary btn-menu" %></div>
    </div>
    <div class="col-md-4 tall-content align-middle" ></div>
  </div>
  <div class="row">
  </div>
<% else %>
  <% controller.redirect_to new_swiper_session_path %>
<% end %>