<% if current_swiper %>
  <div class="row text-center tall-tittle">
    <h4><%= notice %></h4>
  </div>
  
  <div class="row text-center tall-tittle">
    <h1>Lista de candidatos</h1>
  </div>
  <% i = 0 %>

  <div class="row">
    <div class="col-md-3 tall-content align-middle" ></div>
    <div class="col-md-6 tall-content align-middle" style="align-items: center">
        <% @swipers_recomendados.each do |swiper| %>
          <% if (i == 0) && !(i == @swipers_recomendados.length() - 1)%>
            <div class ="first current col-md-12">
          <% elsif (@swipers_recomendados.length() == 1) %>
            <div class="last col-md-12">
          <% elsif (i == @swipers_recomendados.length() - 1)%>
            <div class="last col-md-12" style="display:none;">
          <% else %>
            <div class="box col-md-12" style="display:none;">
          <% end %>
          <article class="media">
            <strong>Nombre: <%= swiper.nombre %></strong> <small>Edad: <%= swiper.edad %></small>
            <br>
            <% if swiper.imagenes.any? %>
              <div class="imagenes align-middle " style="align-items: center">
                <% img = 0 %>
                <% swiper.imagenes.each do |imagen| %>
                  <% if (img == 0) && !(img == swiper.imagenes.length() - 1) %>
                    <div class="first_foto current_foto" style="width:525px; height:300px; margin:10px 0px;">
                  <% elsif (swiper.imagenes.length() == 1) %>
                    <div class="last_foto" style="width:525px; height:300px; margin:10px 0px;">
                  <% elsif (img == swiper.imagenes.length() - 1) %>
                    <div class="last_foto" style="width:525px; height:300px; margin:10px 0px;display:none;">
                  <% else %>
                    <div class="foto" style="width:525px; height:300px; margin:10px 0px;display:none;">
                  <% end %>
                  <%= image_tag(imagen, style:' height:300px;') %>
                  </div>
                  <% img += 1 %>
                <% end %>
                <button class="next_foto">Next Image >></button><br>
              </div><!--/imagenes-->
            <% else %>
              <h4>No hay imágenes disponibles.</h4>
            <% end %>
            <div><%= swiper.descripcion %></div>
            <div>
              <%= link_to 'Ver más', swiper_path(swiper.id), class: 'btn btn-primary' %>
              <%= link_to 'Aceptar', aceptado_path(@swiper.id, swiper.id), class: 'btn btn-primary' %>
            </div>
          </article>
        </div>
        <% i += 1 %>
      <% end %>
      <button class="next">Next Swiper</button><br>
      <%= link_to "Home", home_root_path%>
    </div>
    <div class="col-md-3 tall-content align-middle" ></div>
  </div>
  <script>
    $('.next').click(function() {
      $('.current').removeClass('current').hide()
          .next().show().addClass('current');
      if ($('.current').hasClass('last')) {
          $('.next').attr('disabled', true);
      }
    });
    
    $('.next_foto').click(function() {
      if ($('.current_foto').hasClass('last_foto')) {
        $('.current_foto').removeClass('current_foto').hide();
        $('.first_foto').addClass('current_foto').show().focus();
      } else {
      $('.current_foto').removeClass('current_foto').hide()
          .next().show().addClass('current_foto');
      }
    });

  //   $('.prev_foto').click(function() {
  //     $('.current_foto').removeClass('current_foto').hide()
  //         .prev().show().addClass('current_foto');
  //     if ($('.current_foto').hasClass('first_foto')) {
  //         $('.prev_Foto').attr('disabled', true);
  //     }
  //     $('.next_foto').attr('disabled', null);
  // });
  </script>
<% else %>
  <% controller.redirect_to new_swiper_session_path %>
<% end %>