<h1>Lista de putos</h1>
<% i = 0 %>
<% @swipers_recomendados.each do |swiper| %>
  <% if (i == 0) %>
    <div class ="first current">  
  <% elsif (i == @swipers_recomendados.length() - 1)%>
    <div class="last" style="display:none;"> 
  <% else %>
    <div class="box" style="display:none;">
  <% end %>
    <article class="media">
          <p>
            <strong><%= swiper.nombre %></strong> <small><%= swiper.edad %></small>
            <br>
            <%= swiper.descripcion %>
          </p>
          <%= link_to 'Ver más', swiper_path(swiper.id), class: 'button' %><br>
          <%= link_to 'Aceptar', aceptado_path(@swiper.id, swiper.id), class: 'button' %>
    </article>
  </div>
  <% i += 1 %>
<% end %>
<button id="next">Next Swiper</button><br>
<%= link_to "Home", home_root_path%>
<script>
    $('#next').click(function() {
        $('.current').removeClass('current').hide()
            .next().show().addClass('current');
        if ($('.current').hasClass('last')) {
            $('#next').attr('disabled', true);
        }
      });
</script>
