<% if current_admin %>
  <div class="row text-center tall-tittle">
    <h4><%= notice %></h4>
  </div>
  

  <p>
    <strong>Nombre:</strong>
    <%= @comuna.nombre %>
  </p>

  <p>
    <strong>Cuarentena:</strong>
    <%= @comuna.cuarentena %>
  </p>

  <p>
    <strong>Número de Restaurantes:</strong>
    <%= @comuna.restaurantes.length %>
  </p>

  <p>
    <strong>Número de Swipers:</strong>
    <%= @comuna.swipers.length %>
  </p>

  <br>

  <%= link_to 'Lista Comunas', lista_comunas_path %><br>
  <%= link_to 'Editar Comuna', edit_comuna_path(@comuna.id) %><br>
  <% if @comuna.restaurantes.length == 0 && @comuna.swipers.length == 0 %>    
    <%= link_to 'Eliminar Comuna', comuna_path(@comuna.id), method: :delete, data: {confirm: '¿Estás seguro?'} %><br>
  <% end %>
<% else %>
  <% controller.redirect_to new_admin_session_path %>
<% end %>