<% if current_admin %>
    <p id="notice"><%= notice %></p>
    <h1>Lista de Swipers</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Edad</th>
                <th>Cumpleaños</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Descripción</th>        
            </tr>
        </thead>
        <tbody>
            <% @swipers.each do |swiper| %>
                <tr>
                    <td><%= swiper.nombre %></td>
                    <td><%= swiper.email %></td>
                    <td><%= swiper.edad %></td>
                    <td><%= swiper.cumpleanos.strftime("%d/%m") %></td>
                    <td><%= swiper.telefono %></td>
                    <td><%= swiper.direccion %></td>
                    <td><%= swiper.descripcion %></td>
                    <td><%= link_to 'Ver detalles', swiper_path(swiper.id) %></td>
                </tr>
            <%end%>
        </tbody>
    </table>
    <br>

    <%= link_to 'Volver a la lista de acciones disponibles', admin_root_path %>
<% else %>
    <% controller.redirect_to new_admin_session_path, notice: 'No tienes permiso para ingresar a la página que intentaste acceder.' %>
<% end %>