<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre, autofocus: true, autocomplete: "nombre" %>
  </div>

  <div class="field">
    <%= f.label :edad %><br />
    <%= f.text_field :edad, autofocus: true, autocomplete: "edad" %>
  </div>

  <div class="field">
    <%= f.label :telefono %><br />
    <%= f.text_field :telefono, autofocus: true, autocomplete: "telefono" %>
  </div>

  <div class="field">
    <%= f.label :cumpleanos %><br />
    <%= f.date_field :cumpleanos, autofocus: true, autocomplete: "cumpleanos" %>
  </div>

  <div class="field">
    <%= f.label :direccion %><br />
    <%= f.text_field :direccion, autofocus: true, autocomplete: "direccion" %>
  </div>

  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion, autofocus: true, autocomplete: "descripcion" %>
  </div>

  <br>

  <div class="field">
    <%= f.label :imagenes %>
    <%= f.file_field :imagenes, multiple: true %>
  </div>

  <br>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<br><br>
<%= render "swipers/shared/links" %>
<br>
<%= link_to "Volver a lista de Swipers", lista_swipers_path %>