<p id="notice"><%= notice%></p>

<p>
    <strong>Nombre</strong>
    <%= @swiper.nombre %>
</p>

<p>
    <strong>Email</strong>
    <%= @swiper.email%>
</p>

<p>
    <strong>Edad</strong>
    <%= @swiper.edad%>
</p>

<p>
    <strong>Cumpleaños</strong>
    <%= @swiper.cumpleanos%>
</p>

<p>
    <strong>Teléfono</strong>
    <%= @swiper.telefono%>
</p>

<p>
    <strong>Dirección</strong>
    <%= @swiper.direccion%>
</p>

<p>
    <strong>Descripción</strong>
    <%= @swiper.descripcion%>
</p>

<br>

<%= link_to "Lista swipers", lista_swipers_path %><br>