<% if current_owner %>
  <div class="row text-center tall-tittle">
    <h4><%= notice %></h4>
  </div>
  <div class="row text-center tall-tittle">
    <h1>Home</h1>
  </div>
  <div class="row text-center">
    <div class="col-md-4 tall-content align-middle" ></div>
    <div class="col-md-4 tall-content align-middle">

      <% if current_owner.restaurante %>
        <div class="row"><%= link_to "Ver restaurante", restaurante_path(current_owner.restaurante.id), :class => "btn btn-primary btn-menu" %></div>
        <div class="row"><%= link_to "Ver Estadísticas", ver_stats_path(current_owner.restaurante.id), :class => "btn btn-primary btn-menu" %></div>
      <% else %>
        <div class="row"><%= link_to "Crear restaurante", restaurante_new_path, :class => "btn btn-primary btn-menu" %></div>
      <% end %>

      <div class="row"><%= link_to "Perfil", owner_path(current_owner.id) , :class => "btn btn-primary btn-menu"%></div>

      <div class="row"><%= link_to "Cerrar sesión", destroy_swiper_session_path, method: :delete, data: {confirm: '¿Estás seguro que quieres cerrar sesión?'}, :class => "btn btn-primary btn-menu" %></div>
    </div>
    <div class="col-md-4 tall-content align-middle" ></div>
  </div>
  <div class="row">
  </div>
<% else %>
  <% controller.redirect_to new_owner_session_path %>
<% end %>
