<% if (not current_admin) && (not current_owner) && (not current_swiper) %>
  <div class="row text-center tall-tittle">
    <h2 class="big">Log in</h2>
    <p id="notice"><%= notice %></p>
  </div>
  <div class="row text-left">
    <div class="col-md-4 tall-content align-middle"></div>
    <div class="col-md-4 tall-content align-middle" >
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="row">
          <div class="field big">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          <br>
        </div>

        <div class="row">
          <div class="field big">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
          <br>
        </div>

        <div class="row">
          <div class="actions">
            <%= f.submit "Log in", :class => 'btn btn-primary' %>
          </div>
          <br>
        </div>
      <% end %>

    </div>
    <div class="col-md-4 tall-content align-middle">
    </div>
  </div>
<% else %>
  <% if current_admin %>
    <% controller.redirect_to admin_root_path %>
  <% elsif current_swiper %>
    <% controller.redirect_to swiper_root_path %>
  <% elsif current_owner %>
    <% controller.redirect_to owner_root_path %>
  <% end %>
<% end %>
