<!DOCTYPE html>
<html>
  <head>
    <title>SwipeEat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container nopadding">
        <div class="row">
          <div class="col-md-4 col-10 linkable text-center">
            <% if current_admin %>
              <%= link_to(admin_root_path, :class => "titulo") do %>
                <h1 class="bigbig">Swipe-eat</h1>
              <%end %>
            <% elsif current_swiper %>
              <%= link_to(swiper_root_path, :class => "titulo") do %>
                <h1 class="bigbig">Swipe-eat</h1>
              <%end %>
            <% elsif current_owner %>
              <%= link_to(owner_root_path, :class => "titulo") do %>
                <h1 class="bigbig">Swipe-eat</h1>
              <%end %>
            <% else %>
              <%= link_to(home_root_path, :class => "titulo") do %>
                <h1 class="bigbig">Swipe-eat</h1>
              <%end %>
            <% end %>
            
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </header>

    <main>
      <div class="container">

        <%= yield %>

      </div>
    </main>

    <footer class="" style="margin-top: 20px">
      <div class="container">
        <%if current_page?(home_root_path) and not current_swiper and not current_admin %>
        <div class="row text-center">
          <div class="col-md-4 col-ms-4">
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <h4>Admins</h4>
            <%= link_to "Log in", new_admin_session_path, :class => "btn btn-white"%>

          </div>
        </div>
        <%end %>
        <div class="text-center">
          <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script>, DEL corp</p>
        </div>
      </div>
    </footer>

  </body>
</html>
