<!DOCTYPE html>
<html>
  <head>
    <title>SwipeEat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <%= link_to(home_root_path, :class => "titulo")do%>
          <div class="col-md-4 col-10 linkable text-center">
            <h1>Swipeat</h1>
          <%end %>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
            <% if current_swiper %>
              <%= link_to "Perfil", swiper_path(current_swiper.id) %>
            <%end %>
          <div class="col-md-4">

          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="container tall-1">

        <%= yield %>

      </div>
    </main>

    <footer class="navbar-fixed-bottom">
      <div class="container">
        <!--<div class="row">
          <div class="col-md-4 col-ms-4">
            <h3>Sitios</h3>
          </div>
          <div class="col-md-4">
            <h3>Autores</h3>
          </div>
          <div class="col-md-4">
            <h3>Admins</h3>
          </div>
        </div>-->
        <div class="text-center">
          <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script>, DEL corp</p>
        </div>
      </div>
    </footer>

  </body>
</html>
